.faq{
    margin: 30px;
    padding: 15px;
}
.fa h1{
    border-bottom: 1px solid #088178;

}
.fa{
   border-bottom: 1px solid rgb(189, 183, 183);
   margin-bottom: 30px;
}
details{
    margin-top: 20px;
}
summary{
    font-size: large;
}
summary:hover{
    color: rgb(241, 164, 20);
}
.faq p{
    color: #088178;
}